@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "tailwindcss";

@theme {
    --color-*: initial;

    --color-white: #fff;

    --color-gray-50: oklch(0.985 0.002 247.839);
    --color-gray-100: oklch(0.967 0.003 264.542);
    --color-gray-200: oklch(0.928 0.006 264.531);
    --color-gray-300: oklch(0.872 0.01 258.338);
    --color-gray-400: oklch(0.707 0.022 261.325);
    --color-gray-500: oklch(0.551 0.027 264.364);
    --color-gray-600: oklch(0.446 0.03 256.802);
    --color-gray-700: oklch(0.373 0.034 259.733);
    --color-gray-800: oklch(0.278 0.033 256.848);
    --color-gray-900: oklch(0.21 0.034 264.665);
    --color-gray-950: oklch(0.13 0.028 261.692);

    --color-primary: #E76016;
    --color-primary-950: #170802;
    --color-primary-900: #2F1004;
    --color-primary-800: #5D2109;
    --color-primary-700: #8C310D;
    --color-primary-600: #BA4112;
    --color-primary-500: #EC6A36;
    --color-primary-400: #ED7445;
    --color-primary-300: #F29773;
    --color-primary-200: #F6BAA2;
    --color-primary-100: #FBDCD0;
    --color-primary-50: #FFFCFA;

    --color-secondary: #0F2048;
    --color-secondary-950: #040915;
    --color-secondary-900: #08122B;
    --color-secondary-800: #102456;
    --color-secondary-700: #183681;
    --color-secondary-600: #2048AC;
    --color-secondary-500: #285AD7;
    --color-secondary-400: #537BDF;
    --color-secondary-300: #7E9CE7;
    --color-secondary-200: #A9BDEF;
    --color-secondary-100: #D4DEF7;
    --color-secondary-50: #FBFCFE;

    --color-azul-cobalto: #1C3A81;
    --color-gris-aluminio: #AAAEB7;
    --color-verde-esmeralda: #46904E;

    --color-paragraph: #1A1A1A;

    --font-montserrat: Montserrat, serif;
    --font-poppins: Poppins, serif;
}

html {
    scroll-behavior: smooth;
}

p,
span,
li {
    font-family: var(--font-montserrat);
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
button {
    font-family: var(--font-poppins);
}

.content {

    & p,
    span,
    li {
        font-family: var(--font-montserrat) !important;
    }

    & h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    a,
    button {
        font-family: var(--font-poppins) !important;
    }

    & ul {
        @apply list-disc list-inside;
    }

    & ol {
        @apply list-decimal list-inside;
    }

    & h1 {
        @apply text-4xl lg:text-6xl;
    }

    & h2 {
        @apply text-2xl lg:text-4xl;
    }

    & h3 {
        @apply text-xl lg:text-2xl;
    }

    & a {
        @apply underline;
    }
}